<%- include('../partials/html-head') -%>



<%- include('../partials/nav') -%>

<h1><%= title %></h1>
<table>
  <thead>
    <tr>
      <th>Create New Destination</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <form id="add-destination-form" class="input-form" action="/destinations" method="POST">
          <p>Please make sure that the Destination is not already in the dropdown</p>
          <select>
            <% destinations.forEach(function(destination) { %>
              <option><%= destination.airport %></option>
            <% }) %>
          </select><br>
          <label for="airport-input">Airport</label>
          <input type="text" name="airport" id="airport-input" required>
          <button class="btn btn-primary btn-lg" type="submit">Add Destination</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<%- include('../partials/footer') -%>