<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Flight</title>
</head>
<body>
  <nav>
    <a href="/flights/index">All Flights</a>
    <a href="/flights/new">Add Flight</a>
  </nav>
  <h1>Add a Flight</h1>
  <form action="/flights" method="post">
    <label>Airline:
      <select name="airline">
        <% airlines.forEach(function(airline) { %>
          <option value="<%= airline %>"><%= airline %></option>
        <% }) %>
      </select>
    </label><br>
    <label>Airport:
      <select name="airport">
        <% airports.forEach(function(airport) { %>
          <option value="<%= airport %>" <%= airport === defaultAirport ? "selected" : "" %> ><%= airport %></option>
        <% }) %>
      </select>
    </label><br>
    <label>Flight Number:
      <input type="number" name="flightNo" value="1000">
    </label><br>
    <label>Departure Time
      <input type="datetime-local" name="departs" value="<%= departsDate %>">
    </label><br>
    <button type="submit">Add Flight</button>
  </form>
  <a href="/">Back to Home</a>
</body>
</html>